<form [formGroup]="cabinetForm" (ngSubmit)="onSubmit()">
  <div class="clearfix">
    <div class="pull-right">
      <button class="btn btn-default" type="button" (click)="onDeleteCabitent()">Delete Cabinet</button>
    </div>
  </div>
  <div class="form-group" formArrayName="days">
    <div
      class="row form-group"
      *ngFor="let dayCtrl of cabinetForm.get('days')['controls']; let i = index;"
      [formGroupName]="i">
      <div class="col-xs-4">
        <ng-datepicker formControlName="date"></ng-datepicker>
      </div>
      <div class="col-xs-2">
        <input
          type="number"
          formControlName="amount"
          class="form-control">
      </div>
      <div class="col-xs-2">
        <button
          type="button"
          class="btn btn-danger"
          (click)="onDeleteDay(i)">x</button>
      </div>
    </div>
  </div>
  <p *ngIf="!cabinetForm.valid && cabinetForm.touched">please, fill the fileds correctly</p>
  <p *ngIf="!this.datesIsValid">date has to be unique</p>
  <button
    type="button"
    class="btn btn-success"
    (click)="onAddDay()">Add Day</button>
  <button class="btn btn-default" [disabled]="!cabinetForm.valid || !this.datesIsValid" type="submit">Save</button>
</form>
